<ion-view view-title="Calculator">
  <ion-content>
    <div class="calculator_container">
      <form name="Calculator">
        <input style="display:none;" type="text" maxlength="40" size="25" name="Display" onChange="FixCurrent()">
      </form>
      <div id="results" class="results" name="results"></div>
      <table>
        <tbody>
        <tr>
          <td OnClick="AllClear()">AC</td>
          <td OnClick="Clear()">C</td>
          <td OnClick="plusMinus()">+/-</td>
          <td OnClick="Operate('/')" class="right">÷</td>
        </tr>
        <tr>
          <td OnClick="addNum('7')">7</td>
          <td OnClick="addNum('8')">8</td>
          <td OnClick="addNum('9')">9</td>
          <td OnClick="Operate('*')" class="right">X</td>
        </tr>
        <tr>
          <td OnClick="addNum('4')">4</td>
          <td OnClick="addNum('5')">5</td>
          <td OnClick="addNum('6')">6</td>
          <td OnClick="Operate('-')" class="right">-</td>
        </tr>
        <tr>
          <td OnClick="addNum('1')">1</td>
          <td OnClick="addNum('2')">2</td>
          <td OnClick="addNum('3')">3</td>
          <td OnClick="Operate('+')" class="right">+</td>
        </tr>
        <tr>
          <td OnClick="addNum('0')">0</td>
          <td></td>
          <td OnClick="addDecimal()">.</td>
          <td OnClick="Calculate()" class="right">=</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>
